<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="css/app.css"/>
</head>
<body>
<div class="maincontain">
<div class="levelselect">
    level selection
</div>
<div class="sidebar">
    <div class="personal">
        <div class="portrait"></div>
        <div class="personaltext">
            <h2>Joe LaShmoe</h2>
            Selection Level: 5<br>Completion Level: 4</div>
    </div>
    <div class="badges">
        <div class="badge"></div>
        <div class="badge"></div>
        <div class="badge"></div>
        <div class="badge"></div>
        <div class="badge"></div>
    </div>
    <div>
        <h3>My Goals</h3>
        <div class="achievement_goal">
            Problem Selection Master
        </div>
        <div class="achievement_goal">
            Run, Don't Walk
        </div>
        <div class="achievement_goal">
            We Laugh, We Cry
        </div>
    </div>
    <div>
        <h3>Daily Challenge</h3>
        <div class="achievement_goal">
            <h3>Elemental Sampler</h3>
            Complete three problems from each unmastered level.
        </div>
    </div>
</div>
</div>

</body>
</html>