*{
    box-sizing:border-box;
}
html,body{
padding:0;
    margin:0;
    font-family:sans-serif;
    font-family:"museo-sans";

}
img{
    max-height:100%;
    max-width:100%;
}
.img_inline{
    display:inline-block;
}
.star{
    display:inline-block;
    height:50px;
    width:50px;
}
.level_history{
    font-size:21px;
}
.greentext{
    color: #008000;
}

.sidebar{
    padding:25px;
    position:fixed;
    top:50px;
    right:0;
    bottom:0;
    width:30%;
    overflow:scroll;
}
.personal{

}
.button{
    color:white;
    background:#2E3092;
    border-radius:8px;
    text-align:center;
    padding:15px;
    font-size:21px;
    width:300px;
    margin:auto;


}
.button-inline{
    display:inline-block;
    width:250px;
    margin-right:30px;
    margin-left:15px;
}
.button-discouraged{
    background:dimgray;
}
.fullwidth{
    width:100%;
}
.portrait{
    width:100px;
    height:100px;
    border-radius:50px;
    background:white;
    border:1px solid black;
    display:inline-block;
    vertical-align:middle;
    margin-right:10px;
}
.personaltext{
    display:inline-block;
    vertical-align:middle;
    margin-top:-20px;
}
.playerbadges{
    margin-top:20px;
    text-align:center;
    margin-bottom:10px;
}
.playerbadge{
    display:inline-block;
    height:30px;
    width:30px;
    border-radius:15px;
    border:1px solid black;
    margin-right:10px;
}
.desaturate{
    -webkit-filter: brightness(0.4) saturate(0.1);
}
.challenge_column{
    display:inline-block;
    margin:auto;
}

.challenge_container{
margin-top:30px;
}

#achievements_container{
    margin-top:50px;
}

.achievement_goal{
    border:3px solid deepskyblue;
    border-radius:8px;
    width:100%;
    background:white;
    margin-bottom:10px;
    padding:10px;
}
.achievement_popover{
    width:400px;
    height:100px;
    position:fixed;
    z-index: 1000;
    left:0;
    /*margin-left:-200px;*/
    bottom:-120px;
    margin-bottom:0;
    background:white;
    border-top:10px solid #6dd4ff;
    transition:bottom .5s;
}
.achievement_show{
    bottom:0px;
}
.achievement_title{
    font-size: 21px;
    margin-top:10px;
    font-weight:bold;
}
.challenge_select{
    border-radius:8px;
    width:100%;
    background:white;
    margin-bottom:10px;
    padding:10px;
}
.border_select{
    border:3px solid deepskyblue;
}
.badge_earned{
    border:1px solid deepskyblue;
}

.challenge_row{
    margin-top:10px;
    margin-botom:10px;
    padding-left:20px;
    padding-right:20px;
}

.levelselect{
    position:fixed;
    top:50px;
    left:0;
    bottom:0;
    width:70%;
    background:#444;
    text-align:center;
    overflow:scroll;
    padding-bottom:40px;
}

.level{
    display:inline-block;
    width:40%;
    margin-right:40px;
    min-width:200px;
    min-height:315px;
    /*border:1px solid blue;*/
    border-radius:8px;
    background:lightgray;
    margin-top:40px;
    text-align:left;
    padding:15px;
    vertical-align:top;

}
.levelname{
font-size:30px;
    font-weight:bold;
}
.levelnumber{
font-size:18px;
}
.levelbadge{
    width:80px;
    height:80px;
    border-radius:40px;
    border:1px solid black;
    display:inline-block;
    vertical-align:top;
    background:white;
    margin-bottom:10px;
}
.levelinfo{
    display:inline-block;
    vertical-align:top;
    padding-left:10px;
    margin-top:-15px;
    width:60%;
}
.kc_single{
    text-align:left;
    padding:5px;
}
.examples{
    text-align:center;
    font-size:21px;
    margin-top:15px;
    line-height:40px;
}

.blockUI{
    position:fixed;
    z-index:999;
    top:0;
    right:0;
    bottom:0;
    left:0;
    background: rgba(0,0,0,.8);
    padding-top:130px;
    text-align:center;
    overflow:scroll;
    padding-bottom:130px;
}
.modalpop{
    padding:30px;
    border-radius:10px;
    width:70%;
    margin:auto;
    /*margin-top:150px;*/
    background:lightgray;

}
.modalpop_large{
    width:85%;
}
.modal_text{
    font-size:21px;
    margin-top:15px;
    margin-bottom:30px;
}

.char_background{
    display:inline-block;
    width:24%;
    vertical-align:top;
    padding:30px;
}
.char_dialogue{
    vertical-align:top;
    width:75%;
    text-align:left;
    display:inline-block;
    background:white;
    padding:30px;
    border-radius:10px;
}
.bluebackground{
    background:#056ab4;
    padding:0px;
}

.level_complete_badge{
    margin:auto;
    width:200px;
    height:200px;
    border-radius:100px;
    background:white;
    border:1px solid black;
}
.progressbar{
    background: #ababab;
    border-radius:8px;
    width:100%;
    height:30px;
    overflow:hidden;
    position:relative;
    box-sizing:content-box;
    border:1px solid darkgray;
}
.progress{
    position:absolute;
    top:0;
    left:0;
    width:80px;
    height:100%;
    background: #53be4a;
    border-radius:0;
}
.progressNumber{
    position:absolute;
    /*left:50%;*/
    /*margin-left:-15px;*/
    text-align:center;
    width:100%;
    top:0;
    font-size:20px;
}
.problem_row{
    margin-top:20px;
    margin-bottom:20px;
}
.problem_input{
    width:40%;
    background:dimgray;
    border-radius:8px;
    border:none;
    height:70px;
    color:white;
    font-size:24px;
    padding:10px;
    display:inline-block;
    line-height:50px;
    text-align:left;
}
.right_align{
    text-align:right;
}
.no_input{
    color:black;
    background:none;
}
.hint{
    width:100%;
    padding:10px;
    background:#056AB4;
    color:white;
    border-radius:8px;
}
.button-small{
    width:170px;
    font-size:16px;
    line-height:10px;
    margin-top:10px;
    margin-left:52px;
}