<section data-ng-controller="AchievementsController" data-ng-init="find()">
    <div class="page-header">
        <h1>Achievements</h1>
    </div>
    <div class="list-group">
        <a data-ng-repeat="achievement in achievements" data-ng-href="#!/achievements/{{achievement._id}}" class="list-group-item">
			<small class="list-group-item-text">
				Posted on
				<span data-ng-bind="achievement.created | date:'medium'"></span>
				by
				<span data-ng-bind="achievement.user.displayName"></span>
			</small>
			<h4 class="list-group-item-heading" data-ng-bind="achievement.name"></h4>
            <p>
              {{achievement.description}}
            </p>
            <p>
                Complete: {{achievement.completed}}
            </p>
            <p>
                Goal: {{achievement.goal}}
            </p>
        </a>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!achievements.$resolved || achievements.length">
    	No Achievements yet, why don't you <a href="/#!/achievements/create">create one</a>?
    </div>
</section>