<div class="blockUI" data-ng-controller="SequenceController">
    <div class="modalpop">
        <h1>Problem Selection Recap</h1>

        <div style="height:50px;">
            <img src="/modules/core/img/star.svg" class="star" ng-if="stars >= 1">
            <img src="/modules/core/img/star.svg" class="star" ng-if="stars >= 2">
            <img src="/modules/core/img/star.svg" class="star" ng-if="stars >= 3">
            <img src="/modules/core/img/star.svg" class="star" ng-if="stars >= 4">
            <img src="/modules/core/img/star.svg" class="star" ng-if="stars >= 5">
            <img src="/modules/core/img/star_missed.svg" class="star" ng-if="stars < 5">
            <img src="/modules/core/img/star_missed.svg" class="star" ng-if="stars < 4">
            <img src="/modules/core/img/star_missed.svg" class="star" ng-if="stars < 3">
            <img src="/modules/core/img/star_missed.svg" class="star" ng-if="stars < 2">
            <img src="/modules/core/img/star_missed.svg" class="star" ng-if="stars < 1">

        </div>
        <div class="challenge_column">
        <p class="modal_text" style="margin-top:0;">
            You solved {{total_sequence}} problems, {{missed_opportunities}} of which did not help you toward mastery.
        </p>

        <p class="modal_text" ng-if="missed_opportunities">
            You don't learn new things in problems you have already mastered!<br>
            Can you identify which problems had mastery opportunities?
            <!--Click on the problems that did not have mastery opportunities.-->
        </p>
        <p class="modal_text" ng-if="missed_opportunities == 0">
            Great job! You chose only problems you haven't already mastered.
        </p>
        </div>

        <div class="challenge_column">
            <!--make green if selected for this levelname == true and mastered == false-->
            <!--make red if selected for this levelname == true and mastered == true-->
            <p data-ng-repeat="item in sequence1"  data-ng-click="explanatory_feedback($index, item.levelname)" ng-class="{greentext : levelselections[item.levelname].selected == true && levelselections[item.levelname].mastered == false, redtext : levelselections[item.levelname].selected == true && levelselections[item.levelname].mastered == true}">
                {{$index + 1}}: {{item.levelname}}
            </p>
        </div>
        <div class="challenge_column">
            <!--make green if selected for this levelname == true and mastered == false-->
            <!--make red if selected for this levelname == true and mastered == true-->
            <p data-ng-repeat="item in sequence2"  data-ng-click="explanatory_feedback($index, item.levelname)" ng-class="{greentext : levelselections[item.levelname].selected == true && levelselections[item.levelname].mastered == false, redtext : levelselections[item.levelname].selected == true && levelselections[item.levelname].mastered == true}">
                {{$index + sequence1length + 1}}: {{item.levelname}}
            </p>
        </div>

        <p class="modal_text" ng-if="show_feedback" ng-class="{greentext : greentext}">
            {{the_feedback}}
        </p>

        <div class="button" data-ng-click="problem_selection_next()" data-ng-if="continue">
            Continue
        </div>
    </div>
</div>