<section data-ng-controller="LevelsController" data-ng-init="findOne()">
    <div class="page-header">
        <h1>Edit Level</h1>
    </div>
    <div class="col-md-12">
        <form class="form-horizontal" data-ng-submit="update()" novalidate>
            <fieldset>
                <div class="form-group">
                    <label class="control-label" for="name">Name</label>
                    <div class="controls">
                        <input type="text" data-ng-model="level.name" id="name" class="form-control" placeholder="Name" required>
                    </div>
                    <label class="control-label" for="kcomponentList">KCs (space separated)</label>
                    <div class="controls">
                        <input type="text" data-ng-model="level.kcomponentList" id="kcomponentList" class="form-control" placeholder="kcomponents" required>
                    </div>
                    <label class="control-label" for="leveltype">Level Type</label>
                    <div class="controls">
                        <input type="text" data-ng-model="level.leveltype" id="leveltype" class="form-control" placeholder="Fire" required>
                    </div>
                    <label class="control-label" for="icon">Icon Path</label>
                    <div class="controls">
                        <input type="text" data-ng-model="level.icon" id="icon" class="form-control" placeholder="icon path" required>
                    </div>
                    <label class="control-label" for="example1">Example 1</label>
                    <div class="controls">
                        <input type="text" data-ng-model="level.example1" id="example1" class="form-control" placeholder="x + 3 = 5" required>
                    </div>
                    <label class="control-label" for="example2">Example 2</label>
                    <div class="controls">
                        <input type="text" data-ng-model="level.example2" id="example2" class="form-control" placeholder="x + 3 = 5" required>
                    </div>
                    <label class="control-label" for="sequence">Problem Sequence</label>
                    <div class="controls">
                        <input type="text" data-ng-model="level.sequence" id="sequence" class="form-control" placeholder="213113" required>
                    </div>
                </div>

                <!--list all kcomponents as checkboxes-->
                <!--check current ones-->
                <!--set kcomponent list to whatever is checked-->

                <div class="form-group">
                    <input type="submit" value="Update" class="btn btn-default">
                </div>
				<div data-ng-show="error" class="text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
            </fieldset>
        </form>
    </div>
</section>